<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klook.mapper.CityMapper">
	<select id="selectCityBySeq" resultType="com.klook.vo.CityVO">
		SELECT kc_name FROM
		kl_city 
		WHERE kc_seq = #{seq}
		OR kc_name = #{keyword}
	</select>
	<select id="selectCities" resultType="com.klook.vo.CityVO">
		SELECT * FROM kl_city
	</select>
</mapper>