<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klook.mapper.ProductMapper">
	<select id="selectProductSeqList" resultType="java.lang.Integer">
		SELECT kp_seq FROM kl_product
		ORDER BY kp_reg_date 
		DESC LIMIT #{LIMIT}
	</select>
	<select id="selectProduct" resultType="com.klook.vo.ProductVO">
		SELECT g.*, h.ksc_name AS sub_cate_name FROM
		(
		SELECT e.*, f.kmc_name AS main_cate_name FROM
		(
		SELECT c.*, d.kc_name AS city_name FROM
		(
		SELECT * FROM kl_product a
		INNER JOIN
		(
			SELECT MAX(kpi_seq) AS kpi_seq, kpi_uri, kpi_prod_seq
			FROM kl_product_img
			WHERE kpi_prod_seq = #{seq}
		)b
		ON a.kp_seq = b.kpi_prod_seq
		)c
		INNER JOIN kl_city d
		ON c.kp_city_seq = d.kc_seq
		)e
		INNER JOIN kl_main_category f
		ON e.kp_mc_seq = f.kmc_seq
		)g
		INNER JOIN kl_sub_category h
		ON g.kp_sc_seq = h.ksc_seq
	</select>
	<select id="selectProductBySeq" resultType="com.klook.vo.ProductVO">
		SELECT g.*, h.ksc_name AS sub_cate_name FROM
		(
		SELECT e.*, f.kmc_name AS main_cate_name FROM
		(
		SELECT c.*, d.kc_name AS city_name FROM
		(
		SELECT * FROM kl_product a
		INNER JOIN
		(
			SELECT MAX(kpi_seq) AS kpi_seq, kpi_uri, kpi_prod_seq
			FROM kl_product_img
			WHERE kpi_prod_seq = #{seq}
		)b
		ON a.kp_seq = b.kpi_prod_seq
		)c
		INNER JOIN kl_city d
		ON c.kp_city_seq = d.kc_seq
		)e
		INNER JOIN kl_main_category f
		ON e.kp_mc_seq = f.kmc_seq
		)g
		INNER JOIN kl_sub_category h
		ON g.kp_sc_seq = h.ksc_seq
	</select> 
	<select id="selectSubCategoryProd" resultType="com.klook.vo.ProductVO">
		<!-- SELECT c.*, d.ksc_name AS sub_cate_name FROM
		(
		SELECT * FROM kl_product a
		INNER JOIN 
		(
			SELECT kpi_seq AS kpi_seq, kpi_uri, kpi_prod_seq
			FROM kl_product_img
		)b
		ON a.kp_seq = b.kpi_prod_seq
		)c
		INNER JOIN kl_sub_category d
		ON c.kp_sc_seq = d.ksc_seq
		WHERE ksc_seq = #{ksc_seq}
		ORDER BY kp_reg_date DESC -->
		SELECT e.*, f.ksc_name AS sub_cate_name FROM
		(
		SELECT c.*, d.kc_name AS city_name FROM
		(
		SELECT * FROM kl_product a
		INNER JOIN 
		(
			SELECT kpi_seq AS kpi_seq, kpi_uri, kpi_prod_seq
			FROM kl_product_img
		)b
		ON a.kp_seq = b.kpi_prod_seq
		)c
		INNER JOIN kl_city d
		ON c.kp_city_seq = d.kc_seq
		)e
		INNER JOIN kl_sub_category f
		ON e.kp_sc_seq = f.ksc_seq
		WHERE ksc_seq = #{ksc_seq}
		ORDER BY kp_reg_date DESC
	</select>
	<select id="selectMainCategoryProd" resultType="com.klook.vo.ProductVO">
		<!-- SELECT e.*, f.ksc_name AS sub_category FROM
		(
		SELECT c.* FROM
		(
		SELECT * FROM kl_product a
		INNER JOIN 
		(
			SELECT kpi_seq AS kpi_seq, kpi_uri, kpi_prod_seq
			FROM kl_product_img
		)b
		ON a.kp_seq = b.kpi_prod_seq
		)c
		INNER JOIN kl_main_category d
		ON c.kp_mc_seq = d.kmc_seq
		)e
		INNER JOIN kl_sub_category f
		ON e.kp_sc_seq = f.ksc_seq
		WHERE e.kp_mc_seq = #{main_seq}
		ORDER BY kp_reg_date DESC -->
		SELECT g.*, h.ksc_name AS sub_category FROM
		(
		SELECT e.*, f.kc_name AS city_name FROM
		(
		SELECT c.* FROM
		(
		SELECT * FROM kl_product a
		INNER JOIN 
		(
			SELECT kpi_seq AS kpi_seq, kpi_uri, kpi_prod_seq
			FROM kl_product_img
		)b
		ON a.kp_seq = b.kpi_prod_seq
		)c
		INNER JOIN kl_main_category d
		ON c.kp_mc_seq = d.kmc_seq
		)e
		INNER JOIN kl_city f
		ON e.kp_city_seq = f.kc_seq
		)g
		INNER JOIN kl_sub_category h
		ON g.kp_sc_seq = h.ksc_seq
		WHERE g.kp_mc_seq = #{main_seq}
		ORDER BY kp_reg_date DESC
	</select>
	<select id="selectSubCateList" resultType="com.klook.vo.ProductVO">
		SELECT b.ksc_name AS sub_cate_name, b.ksc_seq AS seq
		FROM kl_main_category a
		INNER JOIN
		kl_sub_category b
		ON a.kmc_seq = b.ksc_mc_seq
		WHERE kmc_seq = #{main_seq}
	</select>
	<select id="selectCityProd" resultType="com.klook.vo.ProductVO">
		SELECT c.*, d.kc_name AS city_name FROM
		(
		SELECT * FROM kl_product a
		INNER JOIN 
		(
			SELECT kpi_seq AS kpi_seq, kpi_uri, kpi_prod_seq
			FROM kl_product_img
		)b
		ON a.kp_seq = b.kpi_prod_seq
		)c
		INNER JOIN kl_city d
		ON c.kp_city_seq = d.kc_seq
		WHERE kc_seq = #{seq}
		OR kc_name = #{keyword}
		ORDER BY kp_reg_date DESC
	</select>
</mapper>